@model JobsViewModel

@{
    ViewBag.Title = "Jobs List";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 pull-right">
            <a href="@Url.Action("Index")" class="btn btn-block btn-default">Back to Admin</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>GeekPeeked Jobs List (@Model.GeekPeekedJobs.Count results)</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped results">
                    <thead>
                        <tr>
                            <th>Department</th>
                            <th>Job Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model.GeekPeekedJobs.OrderBy(j => j.Department))
                        {
                            <tr>
                                <td>
                                    @job.Department
                                </td>
                                <td>
                                    @job.JobTitle
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

