
@{
    ViewBag.Title = "Unauthorized";
}

<div class="row">
    <div class="col-xs-12">
        <div id="page-content">
            <h1 class="section-header">Authorization Error</h1>
            <div class="inner">
                <h2>Administration Access for Admin Users Only</h2>
                <p>If you are an administrator and this is an error contact <a href="mailto:GeekPeeked@gmail.com">support</a></p>
            </div>
        </div>
    </div>
</div>

